body {
    font-family: 'Malgun Gothic', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: fit-content;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 20px;
}

#site-title {
    font-size: 2em;
    grid-column: 1 / -1;
    text-align: center;
    color: #0056b3;
    margin-bottom: 30px;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
}

.article {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Add transition for smooth effect */
}

.article:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Add a stronger shadow on hover */
}

.article-image {
    margin-bottom: 15px;
    width: 100%;
    height: 250px;
    /* Fixed height for all images to maintain 3:2 aspect ratio with 450px width */
    overflow: hidden;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.article-content {
    flex-grow: 1;
}

.article-content h2 {
    color: #0056b3;
    margin-top: 0;
    font-size: 1.2em;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowed content */
    text-overflow: ellipsis;
    /* Display ellipsis (...) for overflowed text */
    max-width: 100%;
    /* Ensure the h2 does not exceed its parent's width */
    text-align: center;
    /* Center align the title */
}

.article-content h2 a {
    text-decoration: none;
    color: #0056b3;
}

.article-content h2 a:hover {
    text-decoration: underline;
}

.article-content h2 img {
    width: 16px;
    height: 16px;
    box-shadow: none;
}

.article-meta {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 10px;
    text-align: right;
    /* Align text to the right */
}

.article-meta span {
    margin-left: 15px;
    /* Add margin to the left instead of right */
}

.article-body {
    font-size: 0.9em;
    /* Increased from 0.9em to 1em for slightly larger text */
    text-align: justify;
}